:focus {
    outline: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to left, #252526, #2E2A52, #463877, #4C3370, #302537, #615082);
}

header {
    margin-top: 3rem;
}

.imgLogo {
    width: 20rem;
    margin-left: -2rem;
}

.titulo, .subTitulo {
    color: whitesmoke;
    font-family: "New Amsterdam", sans-serif;
    letter-spacing: 10px;
    text-shadow: 15px 11px 18px rgba(0, 0, 0, 1.6);
}

.titulo {
    font-size: 7.1rem;
    font-weight: 700;
    white-space: nowrap;
}

.subTitulo {
    font-size: 7rem;
    font-weight: 600;
}

header h3 {
    color: whitesmoke;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}

.divCarrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-item img {
    border-radius: 20px;
    height: 20rem;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 3rem; 
}

.button1 {
    width: 55%;
    font-weight: 700;
    font-size: 2rem;
    background: chartreuse;
    text-align: center;
    border-radius: 30px;
    padding: 0.5rem;
    color: #463877;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.button1:hover {
    background: linear-gradient(to left, #252526, #2E2A52, #463877, #4C3370, #302537, #615082);
    color: chartreuse;
    transform: scale(1.8) rotate(-360deg); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.backgroundBlack {
    background: #FED500;
    overflow: hidden;
}

.divGeral {
    display: flex;
    gap: 5rem;
    padding: 3rem;
    animation: scrollText 15s linear infinite;
}

.vantagens {
    font-weight: 500;
    color: #212121;
    font-size: 3.5rem;
    font-family: "New Amsterdam", sans-serif;
    white-space: nowrap; 
}

@keyframes scrollText {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.containerGeral {
    background: #212121;
    border-radius: 20px;
    padding-left: 1rem;
}

.divTexto {
    text-align: left;
    padding: 2rem;
}

.divTexto h2,p {
    color: brown;
}

.divTexto h2 {
    font-size: 8rem;
    font-family: "New Amsterdam", sans-serif;
}

.divTexto p {
    font-size: 1.5rem;
}

.videoDiv {
    margin-bottom: 3rem;
    border-radius: 8px;
}

.containercarreira {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #FFE0E0;
}

.tituloCarreira {
    font-weight: 800;
    margin-bottom: 3rem;
    font-size: 3rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul li {
    font-family: "New Amsterdam", sans-serif;
    font-size: 1.5rem;
}

.containerB p {
    font-weight: 600;
}

.divMarcas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -2rem;
}

.imgMarcas {
    width: 6rem;
}

.paragrafoObjetivo {
    border-top: 1px solid #212121;
    font-size: 1.1rem;
    color: brown;
    padding-top: 1rem;
    font-weight: 500;
}

.divSalario {
    background-color: whitesmoke;
    padding: 2rem 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tituloSalario {
    font-weight: 700;
    font-size: 2.5rem;
}

.barraSalario p {
    font-weight: 700;
    font-size: 1.2rem;
}

.backgroundSalarioJunior, .backgroundSalarioPleno, .backgroundSalarioSenior {
    background: #5F27BC;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    margin-top: -1rem;
    position: relative;
    z-index: 2;
}

.backgroundSalarioJunior h4, .backgroundSalarioPleno h4, .backgroundSalarioSenior h4 {
    color: whitesmoke;
    font-weight: 700;
    font-size: 1.8rem;    
    position: relative;
    z-index: 3;
}

.backgroundSalarioJunior::before, 
.backgroundSalarioPleno::before, 
.backgroundSalarioSenior::before {
    content: '';
    position: absolute;
    background: #C335B8;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 100% 100%, 0 100%);
    transition: clip-path 0.3s ease-in-out;
}

.backgroundSalarioJunior::before {
    width: 25%;
}

.backgroundSalarioPleno::before {
    width: 55%;
}

.backgroundSalarioSenior::before {
    width: 85%;
}

@keyframes colorChange {
    0% {
        background-color: #C335B8;
    }
    20% {
        background-color: #D8508F;
    }
    40% {
        background-color: #E36A66;
    }
    60% {
        background-color: #A7288E;
    }
    80% {
        background-color: #8B1F6A;
    }
    100% {
        background-color: #C335B8;
    }
}

@keyframes wave {
    0%, 100% {
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 100% 100%, 0 100%);
    }
    25% {
        clip-path: polygon(0 0, 85% 0, 85% 15%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 0, 90% 0, 99% 40%, 100% 100%, 0 100%);
    }
    75% {
        clip-path: polygon(0 0, 100% 0, 90% 50%, 95% 100%, 0 100%);
    }
}

.backgroundSalarioJunior:hover::before,
.backgroundSalarioPleno:hover::before,
.backgroundSalarioSenior:hover::before {
    animation: wave 1.5s infinite linear, colorChange 1s infinite linear;
}

.backgroundBanner {
    background: url(/images/DMWFLondon_Website800_2023.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.graduacaoParagrafo, .graduacaoTitulo {
    font-weight: 700;
    font-size: 1.3rem;
    color: whitesmoke;
    margin-top: 1rem;
}

.graduacaoTitulo {
    font-size: 4.5rem;
    font-weight: 800;
}

.graduacaoTitulo span {
    color: #00FF9D;
}

.divPromo {
    background: whitesmoke;
    border-radius: 20px;
    padding: 2rem;
    padding-left: 3rem;
    margin-left: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.divTextos {
    margin-top: 3rem;
}

.graduacaoSubtitulo {
    font-weight: 800;
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.graduacaoTexto {
    font-weight: 700;
}

.graduacaoTexto span {
    font-weight: 800;
    color: whitesmoke;
}

ul {
    border-bottom: 1px solid #212121;
    padding-bottom: 1rem;
}

.divValor {
    display: flex;
    align-items: end;
}

.divValor p {
    text-wrap: wrap;
    font-size: 0.8rem;
    font-weight: 600;

}

.divValor strong {
    font-size: 2.8rem;
    text-wrap: nowrap;
    font-weight: 800;
}


.divButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem; 
}

.divButton a {
    background: #FED500;
    color: #252526;
    padding: 1.1rem;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.5s ease-in-out;
}

.divButton a:hover {
    text-decoration: none;
    background: brown;
    color: whitesmoke;
}

.obs {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 1rem;
}

.backgroundWhite {
    background: whitesmoke;
}

.jornadaTitulo {
    font-weight: 700;
    color: #252526;
    font-size: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.jornadaTitulo span {
    color: #FF7073;
}

.jornadaContainer {
    display: flex;
    align-items: stretch;
    margin-bottom: 3rem;
}

.jornadaDiv {
    background: #FFF7F7;
    padding: 2rem;
    border-radius: 20px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 0rem;
}

.jornadaP {
    font-weight: 700;
    font-size: 2rem;
    color: #212121;
}

.jornadaDiv ul {
    border-bottom: none;
}

.jornadaDiv ul li {
    font-size: 1.4rem;
    color: #A7288E;
    border-bottom: 1px solid #212121;
    padding-bottom: 1rem;
}

.containerGeralIndicado {
    display: flex;
    align-items: stretch;
    gap: 3rem;
}

.divUm {
    background: linear-gradient(163.45deg, rgb(0, 232, 143) 59.63%, rgb(135, 141, 253) 105.99%);
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 3rem;
    flex: 1; 
    display: flex;
    flex-direction: column; 
    transition: filter 0.3s ease;
}

.divUm:hover {
    filter: brightness(1.1) saturate(1.2); 
}

.divUm h2 {
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.divUm p {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2rem; 
    color: #302537;
}

.backgroundYellow {
    background: #FBFF00;
}

.tituloFormulario {
    font-size: 6rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: "New Amsterdam", sans-serif;
    letter-spacing: 10px;
    text-shadow: 15px 11px 18px rgba(0, 0, 0, 0.2);
}

.divFormulario {
    background: #01296E;
    padding: 2rem;
    border-radius: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.divFormulario h3 {
    color: whitesmoke;
    font-weight: 700;
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input {
    padding: 1rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

.divButton2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.buttonInscricao {
    background: #FED500;
    color: #252526;
    padding: 1.1rem;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #212121;
    transition: 0.3s ease-in-out;
}

.buttonInscricao:hover {
    background: #FBFF00;
    color: #A7288E;
    text-decoration: none;
}

.backgroundBlue {
    background: #4ac4e2;
}

.tituloImagens {
    margin-top: 3rem;
    font-size: 3.3rem;
    font-weight: 700;
}

.tituloImagens span {
    color: #01296E;
}

.divImageConteudo {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.imgImages {
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.tituloImagensConteudo {
    font-size: 3.5rem;
    font-family: "New Amsterdam", sans-serif;
}

.paragrafoImagensConteudo {
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffff47;
}