:focus {
    outline: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to left, #252526, #2E2A52, #463877, #4C3370, #302537, #615082);
}

.backgroundRed {
    background: #212121;
    padding: 1.2rem;
    border-radius: 20px;
}

.imgLogo {
    width: 20rem;
    margin-left: -2rem;
}

.titulo, .subTitulo {
    color: #A52A2A;
    font-family: "New Amsterdam", sans-serif;
    letter-spacing: 10px;
    text-shadow: 15px 11px 18px rgba(0, 0, 0, 0.2);
}

.titulo {
    font-size: 7.1rem;
    font-weight: 700;
    white-space: nowrap;
}

.subTitulo {
    font-size: 7rem;
    font-weight: 600;
}

header h3 {
    color: #A52A2A;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
}

.divCarrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-item img {
    border-radius: 20px;
    height: 20rem;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    margin-top: 3rem; 
}

.button1 {
    width: 55%;
    font-weight: 700;
    font-size: 2rem;
    background: chartreuse;
    text-align: center;
    border-radius: 30px;
    padding: 0.5rem;
    color: #463877;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-decoration: none;
}

.button1:hover {
    background: linear-gradient(to left, #252526, #2E2A52, #463877, #4C3370, #302537, #615082);
    color: chartreuse;
    transform: scale(1.8) rotate(-360deg); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

main {
    margin-bottom: 3rem;
}

.backgroundBlack {
    background: #FED500;
    overflow: hidden;
}

.divGeral {
    display: flex;
    gap: 5rem;
    padding: 3rem;
    animation: scrollText 15s linear infinite;
}

.vantagens {
    font-weight: 500;
    color: #212121;
    font-size: 3.5rem;
    font-family: "New Amsterdam", sans-serif;
    white-space: nowrap; 
}

@keyframes scrollText {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.containerGeral {
    background: #212121;
    border-radius: 20px;
    padding-left: 1rem;
}

.divTexto {
    text-align: left;
    padding: 2rem;
}

.divTexto h2,p {
    color: brown;
}

.divTexto h2 {
    font-size: 8rem;
    font-family: "New Amsterdam", sans-serif;
}

.divTexto p {
    font-size: 1.5rem;
}

.videoDiv {
    margin-bottom: 3rem;
    border-radius: 8px;
}

.containercarreira {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #FFE0E0;
}

.tituloCarreira {
    font-weight: 800;
    margin-bottom: 3rem;
    font-size: 3rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul li {
    font-family: "New Amsterdam", sans-serif;
    font-size: 1.5rem;
}

.containerB p {
    font-weight: 600;
}

.divMarcas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -2rem;
}

.imgMarcas {
    width: 6rem;
}

.paragrafoObjetivo {
    border-top: 1px solid #212121;
    font-size: 1.1rem;
    color: brown;
    padding-top: 1rem;
    font-weight: 500;
}

.divSalario {
    background-color: whitesmoke;
    padding: 2rem 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.tituloSalario {
    font-weight: 700;
    font-size: 2.5rem;
}

.barraSalario p {
    font-weight: 700;
    font-size: 1.2rem;
}

.backgroundSalarioJunior, .backgroundSalarioPleno, .backgroundSalarioSenior {
    background: #5F27BC;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    margin-top: -1rem;
    position: relative;
    z-index: 2;
}

.backgroundSalarioJunior h4, .backgroundSalarioPleno h4, .backgroundSalarioSenior h4 {
    color: whitesmoke;
    font-weight: 700;
    font-size: 1.8rem;    
    position: relative;
    z-index: 3;
}

.backgroundSalarioJunior::before, 
.backgroundSalarioPleno::before, 
.backgroundSalarioSenior::before {
    content: '';
    position: absolute;
    background: #C335B8;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0%, 100% 50%, 100% 100%, 0 100%);
    transition: clip-path 0.3s ease-in-out;
}

.backgroundSalarioJunior::before {
    width: 25%;
}

.backgroundSalarioPleno::before {
    width: 55%;
}

.backgroundSalarioSenior::before {
    width: 85%;
}

@keyframes colorChange {
    0% {
        background-color: #C335B8;
    }
    20% {
        background-color: #D8508F;
    }
    40% {
        background-color: #E36A66;
    }
    60% {
        background-color: #A7288E;
    }
    80% {
        background-color: #8B1F6A;
    }
    100% {
        background-color: #C335B8;
    }
}

@keyframes wave {
    0%, 100% {
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 100% 100%, 0 100%);
    }
    25% {
        clip-path: polygon(0 0, 85% 0, 85% 15%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0 0, 90% 0, 99% 40%, 100% 100%, 0 100%);
    }
    75% {
        clip-path: polygon(0 0, 100% 0, 90% 50%, 95% 100%, 0 100%);
    }
}

.backgroundSalarioJunior:hover::before,
.backgroundSalarioPleno:hover::before,
.backgroundSalarioSenior:hover::before {
    animation: wave 1.5s infinite linear, colorChange 1s infinite linear;
}

.backgroundBanner {
    background: url(/images/DMWFLondon_Website800_2023.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.graduacaoParagrafo, .graduacaoTitulo {
    font-weight: 700;
    font-size: 1.3rem;
    color: whitesmoke;
    margin-top: 1rem;
}

.graduacaoTitulo {
    font-size: 4.5rem;
    font-weight: 800;
}

.graduacaoTitulo span {
    color: #00FF9D;
}

.divPromo {
    background: whitesmoke;
    border-radius: 20px;
    padding: 2rem;
    padding-left: 3rem;
    margin-left: 10rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.divTextos {
    margin-top: 3rem;
}

.graduacaoSubtitulo {
    font-weight: 800;
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.graduacaoTexto {
    font-weight: 700;
}

.graduacaoTexto span {
    font-weight: 800;
    color: whitesmoke;
}

ul {
    border-bottom: 1px solid #212121;
    padding-bottom: 1rem;
}

.divValor {
    display: flex;
    align-items: end;
}

.divValor p {
    text-wrap: wrap;
    font-size: 0.8rem;
    font-weight: 600;

}

.divValor strong {
    font-size: 2.8rem;
    text-wrap: nowrap;
    font-weight: 800;
}


.divButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem; 
}

.divButton a {
    background: #FED500;
    color: #252526;
    padding: 1.1rem;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

.divButton a:hover {
    text-decoration: none;
    background: brown;
    color: whitesmoke;
}

.obs {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 1rem;
}

.backgroundWhite {
    background: whitesmoke;
}

.jornadaTitulo {
    font-weight: 700;
    color: #252526;
    font-size: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.jornadaTitulo span {
    color: #FF7073;
}

.jornadaContainer {
    display: flex;
    align-items: stretch;
    margin-bottom: 3rem;
}

.jornadaDiv {
    background: #FFF7F7;
    padding: 2rem;
    border-radius: 20px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 0rem;
}

.jornadaP {
    font-weight: 700;
    font-size: 2rem;
    color: #212121;
}

.jornadaDiv ul {
    border-bottom: none;
}

.jornadaDiv ul li {
    font-size: 1.4rem;
    color: #A7288E;
    border-bottom: 1px solid #212121;
    padding-bottom: 1rem;
}

.containerGeralIndicado {
    display: flex;
    align-items: stretch;
    gap: 3rem;
}

.divUm {
    background: linear-gradient(163.45deg, rgb(0, 232, 143) 59.63%, rgb(135, 141, 253) 105.99%);
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 3rem;
    flex: 1; 
    display: flex;
    flex-direction: column; 
    transition: filter 0.3s ease;
}

.divUm:hover {
    filter: brightness(1.1) saturate(1.2); 
}

.divUm h2 {
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.divUm p {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2rem; 
    color: #302537;
}

.backgroundYellow {
    background: #FBFF00;
}

.tituloFormulario {
    font-size: 6rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: "New Amsterdam", sans-serif;
    letter-spacing: 10px;
    text-shadow: 15px 11px 18px rgba(0, 0, 0, 0.2);
}

.divFormulario {
    background: #01296E;
    padding: 2rem;
    border-radius: 20px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.divFormulario h3 {
    color: whitesmoke;
    font-weight: 700;
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input {
    padding: 1rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

.divButton2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.buttonInscricao {
    background: #FED500;
    color: #252526;
    padding: 1.1rem;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #212121;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.buttonInscricao:hover {
    background: #FBFF00;
    color: #A7288E;
    text-decoration: none;
}

.backgroundBlue {
    background: #4ac4e2;
}

.divTituloImagens {
    margin-top: 2rem;
}

.tituloImagens {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.tituloImagens span {
    color: #01296E;
}

.divImageConteudo {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.imgImages {
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imgImages:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6); 
}

.tituloImagensConteudo {
    font-size: 3.5rem;
    font-family: "New Amsterdam", sans-serif;
}

.paragrafoImagensConteudo {
    font-size: 1.3rem;
    font-weight: 600;
    color: #ffff47;
}

.divTexto2 {
    margin-top: 2rem;
    position: relative; 
}

.divTexto2 h2 {
    color: whitesmoke;
    font-weight: 700;
    font-size: 2.8rem;
}

.divTexto2 span {
    color: #FF6885;
}

.divTexto2 p {
    font-size: 1.6rem;
    color: whitesmoke;
}

.divGraficos {
    display: flex;
    align-items: flex-end; 
    justify-content: space-between;
    position: relative;
}

.grafico1, .grafico2, .grafico3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1; 
    margin-top: 17rem;
}

.backgroundGrafico1, .backgroundGrafico2, .backgroundGrafico3 {
    background: linear-gradient(to left, #FFEEF6, #FFEFF3, #FFEEF6, #FFF0F1); 
    border-radius: 30px;
    padding: 2rem 6rem 0.5rem 6rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: end;
    transition: all 0.5s ease-in-out; 
    opacity: 0.1;
    height: 0;
    position: absolute; 
    bottom: 3rem;
    
}

.backgroundGrafico1 {
    background: linear-gradient(to left, #FFEEF6, #FFEFF3, #FFEEF6, #FFF0F1); 
}

.backgroundGrafico2 {
    background: linear-gradient(to right, #FFE3E3, #FFE0E7, #FFDEEC, #FFDEED);
    margin-left: -2rem;
}

.backgroundGrafico3 {
    background: linear-gradient(to left, #FFBED8, #FFBED9, #FFC0D2, #FFC6C7, #FFC6C8); 
}

.backgroundGrafico1:hover, .backgroundGrafico1.ativo {
    height: 5rem;
    opacity: 1;
}

.backgroundGrafico2:hover, .backgroundGrafico2.ativo {
    height: 10rem;
    opacity: 1;
}

.backgroundGrafico3:hover, .backgroundGrafico3.ativo {
    height: 15rem;
    opacity: 1;
}

.valorGraficos {
    font-weight: 800;
    text-wrap: nowrap;
    font-size: 3rem;
}

.cargoGrafico {
    color: #FBFF00;
    font-weight: 500;
}

.grafico2 p {
    margin-left: -2rem;
}

.backgroundDepoimentos {
    background: whitesmoke;
}

.tituloDepoimentos {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.tituloDepoimentos h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.tituloDepoimentos span {
    color: coral;
}

.containerDepoimento {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    background: #FFFBFB;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.buttonModal {
    padding: 1rem;
    border-radius: 50px;
    border: 2px solid coral;
    width: 100%;
    background: transparent;
    margin-top: 1rem;
    transition: 0.3s ease-in-out;
    color: coral;
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
}

.buttonModal:hover {
    background: coral;
    color: whitesmoke;
}

.imgDepoimento img {
    border-radius: 20px;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
    top: 20%;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

.modal-header .btn-close {
    position: relative;
    left: 100%;
}

#modalContent {
    font-weight: 400;
    color: #212121;
}

.backgroundGray {
    background: #F6F5FA;
}

.tituloPerguntas {
    font-size: 3rem;
    margin-top: 3rem;
    font-weight: 700;
}

.containerPerguntas {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.buttonPerguntas {
    width: 100%;
    background: none;
    border: none;
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    padding: 1rem 0;
}

.divPlus {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.divPlus p {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
}

.imgPlus {
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; 
}

.imgPlus.rotate {
    transform: rotate(45deg);
}

.divPlus:hover .imgPlus {
    background-color: #FF756B;
    border-radius: 100px;
}

.divOculta {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.5s ease-out; 
}

.divOculta.show {
    max-height: 1000px;
}

.divOculta p {
    text-align: left;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #212121;
}

.backgroundGreen {
    background: #E6F5E1;
}

.tituloPrograma {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    font-weight: 700;
}

.divModulos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonModulos {
    padding: 2rem 1rem;
    background: transparent;
    border: 2px solid salmon;
    width: 100%;
    font-weight: 700;
    color: salmon;
    font-size: 1.1rem;
}

.buttonModulos:active {
    background: salmon;
    color: whitesmoke;
}

#button1 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#button5 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.divAulas {
    margin-bottom: 3rem;
}

.divMateria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;  
    border-bottom: 1px solid #212121;
    padding: 1rem 0; 
}

.divMateria p {
    font-weight: 700;
    font-size: 1.5rem;
    color: #2F4F4F ;
}

.divAulas > div {
    display: none; 
}

.divAulas .aula1 {
    display: block; 
}

.buttonModulos.active {
    background-color: #FF756B; 
    color: white; 
}




